<h2>Productos</h2>

<nz-table #table [nzData]="products" nzBordered>
  <thead>
    <tr>
      <th nzWidth="50px">ID</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Stock</th>
      <th nzWidth="160px">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let p of table.data">
      <td>{{ p.id }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.price | currency }}</td>
      <td>{{ p.stock }}</td>
   <td class="actions-cell">
  <button nz-button nzType="default" nzShape="circle" nzSize="small"
          nzTooltipTitle="Editar"
          (click)="openEdit(p)">
    <span nz-icon nzType="edit"></span>
  </button>

  <button nz-button nzType="default" nzDanger nzShape="circle" nzSize="small"
          nzTooltipTitle="Eliminar"
          (click)="delete(p.id!)">
    <span nz-icon nzType="delete"></span>
  </button>
</td>

    </tr>
  </tbody>
</nz-table>


<!-- 🔹 MODAL EDITAR PRODUCTO -->
<nz-modal
  [(nzVisible)]="isEditVisible"
  nzTitle="Editar Producto"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="updateProduct()"
  nzOkText="Guardar Cambios"
  nzCancelText="Cancelar"
>
  <div *nzModalContent>
    <form nz-form [formGroup]="editForm">

      <nz-form-item>
        <nz-form-label [nzSpan]="6">Nombre</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input formControlName="name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6">Precio</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input type="number" formControlName="price" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6">Stock</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input type="number" formControlName="stock" />
        </nz-form-control>
      </nz-form-item>

    </form>
  </div>
</nz-modal>
