<nz-layout class="app-layout">
  <nz-sider nzCollapsible nzWidth="256px" nzTheme="dark">
    <div class="sidebar-logo">
      <img src="https://universidadesdemexico.mx/logos/original/logo-instituto-tecnologico-de-la-piedad.webp" />
      <h1>Web Creada por Angel y Juan Luis</h1>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item routerLink="/products">Productos</li>
          <li nz-menu-item>Monitor</li>
          <li nz-menu-item>Workplace</li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item routerLink="/add-product">Agregar Producto</li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
