<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="" target="_blank">
        <img src="https://universidadesdemexico.mx/logos/original/logo-instituto-tecnologico-de-la-piedad.webp" alt="logo">
        <h1>Web Creada por Angel y Juan Luis</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
     <!-- Menu General Titulo -->
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <!-- Menu titulo 1  -->
        <ul>
           <li nz-menu-item routerLink="products">
             <span nz-icon nzType="shopping"></span>
             <span>Productos</span>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <!-- Menu Titulo 2 -->
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item routerLink="/add-product">
            <span nz-icon nzType="plus"></span>
            <span>Agregar Producto</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
